<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longlife.workoutlogger">

    <!-- read/write permissions for local storage -->
    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".v2.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RoutinesActivity"
            android:parentActivityName=".v2.view.MainActivity">

            <!-- meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".v2.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.HistoryActivity"
            android:parentActivityName=".v2.view.MainActivity">

            <!-- meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".v2.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.GoalsActivity"
            android:parentActivityName=".v2.view.MainActivity">

            <!-- meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".v2.view.MainActivity" />
        </activity>
        <activity android:name=".view.ExerciseActivity" />
        <activity android:name=".view.z_RoutineActivity" />
        <activity android:name=".view.z_SetListItemActivity" />
        <activity android:name=".view.RoutineActivity" />
        <activity android:name=".v2.view.RoutineOverview.RoutinesOverviewActivity" />
        <activity android:name=".v2.view.Routine_Insert.RoutineCreateActivity" />
        <activity android:name=".v2.view.ExercisesOverview.ExercisesOverviewActivity"></activity>
    </application>

</manifest>
